header img {
	height: auto;
	width: 73vw;
}

header {
	background-color: #fede81;	
}

nav ul{
	width: 100%;
	display: flex;
	margin-top: 0;
}

nav ul li{
	margin-right: 10px;
	border-radius: 8px;
	list-style: none;
	text-align: center;
	width: 100px;
	padding-top: 5px;
}

nav {
	background-color: rgb(0,102,0);
	height: 40px;
}

body {

}

li a {
	text-decoration: none;
	color: white;
	font-size: 18pt;
}

li a:hover {
	text-decoration: underline;
}

section {
	margin-left: 3%;
	margin-right: 3%;
}

.homePark {
	display: flex;
	margin-top: 50px;
}

.homeImage {
	margin-right: 20px;
	margin-top: 0px;
}

.homeText h4 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.homeText a{
	text-decoration: none;
	color: black;
}

.homeText a:hover {
	text-decoration: underline;
	color: blue;
}

.homeText h5 {
	margin-top: 5px;
}

.homeText p {
	text-indent: 10px;
}

figure {
	width: 94%;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

figure img {
	object-fit: contain;
	height: auto;
	width: 100%;
}

figcaption {
	font-size: 24pt;
	text-align: center;
	display: flex;
	flex-flow: column;
}

.quoteSource {
	font-size: 12pt;
	text-align: right;
	align-content: end;
}

.quote {
	font-family:'Dancing Script', cursive;
}

.weather {
	background-color: #f0f5f5;
}

.weather img {
	object-fit: contain;
	mix-blend-mode: multiply;
}

.forecastHead {
	display: flex;
	justify-content: center;
}

.headContent {
	display: flex;
	width: 60vw;
	justify-content:space-between;
	margin-left: 38%;
}


.tempSwitch {
	display: flex;
	justify-content:flex-end;
	position:relative;
	top:3vw;
	margin-right:5px;
	
} 

.today img{
	height: auto;
	width:100%;
}

.today H4 {
	display:flex;
	justify-content:center;	
	font-weight: 800;
}

.todayTemp {
	display:flex;
	justify-content:center;
}

.today p {
	margin-left:2vw;
}

.notToday {
	height: auto;
	width: 25%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.notToday img {
	height:auto;
	width:100%;
}

.notTodayTemp label {
	margin-top:10px;
}
.notTodayTemp {
	display: flex;
	flex-flow: column;
	justify-content:center;
	align-items: center;
}

.daysCast {
	display:flex;
	align-items:center;
	margin-right: 8vw;
}
.blurb a {
	text-decoration:none;
	color:black;
}

.blurb a:hover {
	text-decoration:underline;
	color:rgb(0,200,0);
}

.error {
	color:crimson;
}

.surveyTable tr{
	height: 30px;
}

.surveyTable td.head {
	width: 200px;
	margin-right:20px;
}

.button {
	display:flex;
	justify-content: center;
}


.favoritePark {
	display:flex;
	align-items: center;
	margin-bottom: 4vw;
	justify-content:space-between;
}

.favoritePark img {
	height:auto;
	width:25vw;
}

td img {
	height:auto;
	width:25vw;
}
/* Slider handling */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff2600;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 8px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Slider handling */